/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand hamburger' var(--nav-height)
    'sections sections' 1fr / 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: var(--section-max-width);
  height: var(--nav-height);
  font-family: var(--body-font-family);
  transition: height 0.5s;
}

header nav > div:not(.nav-sections) {
  padding: 0 1rem;
}

@media (min-width: 600px) {
  header nav > div:not(.nav-sections) {
    padding: 0 2rem;
  }
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  color: #AB9257;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

header nav .nav-brand .icon-logo-condensed {
  stroke: #988057;
  fill: #988057;
  width: 30px;
  height: 30px;
}

header nav .nav-brand .icon-logo-full {
  display: none;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  color: #AB9257;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

@media (min-width: 900px) {
  header .nav-wrapper.has-scrolled {
    box-shadow: rgb(0 0 0 / 10%) 0 7px 14px 0;
  }

  header .nav-wrapper.has-scrolled nav {
    --nav-height: 72px;
  }

  header .nav-wrapper {
    position: fixed;
  }

  header nav .nav-sections {
    padding-right: 3rem;
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav .nav-sections a {
    font-size: 1.2rem;
    letter-spacing: 0.128rem;
  }

  header nav .nav-brand {
    position: relative;
  }

  header nav .nav-brand .icon-logo-condensed {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }

  header nav .nav-brand .icon-logo-full {
    display: unset;
    transition: opacity 0.5s;
    opacity: 100;
  }

  header .nav-wrapper.has-scrolled nav .nav-brand .icon-logo-condensed {
    opacity: 100;
  }

  header .nav-wrapper.has-scrolled nav .nav-brand .icon-logo-full {
    opacity: 0;
  }

  header nav .nav-brand .icon-logo-full svg {
    width: 160px;
    height: 36px;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections ul {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    margin-top: 0;
  }
}

@media (min-width: 1178px) {
  header nav .nav-sections {
    padding-right: 0;
  }

  header nav > div:not(.nav-sections) {
    padding: 0;
  }
}
